

<div class="container card "*ngIf="selectedHero">

<h2>
  Heroes works! {{selectedHero.name}}
</h2>
<div>

<span>id:</span>
{{selectedHero.id}}


</div>
<div>
<span>Nome :</span>
{{selectedHero.name}}
</div>

<div> 
  <label> Nome :</label>
  <input [(ngModel)] ="hero.name" />
</div>

<!--
  importar FormModule em app.module.ts
-->
  </div>
<div class ="container alert alert-success">
<H2>My heroes</H2>

<ul class ="list-heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"[class.selected] ="hero === selectedHero">
    <span>{{hero.id}}</span>
    {{hero.name}}
  </li>
</ul></div>